name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.9'
    
    - name: Install dependencies
      run: |
        pip install -r alert_apprise/tests/requirements.txt
    
    - name: Run tests
      run: |
        cd alert_apprise/tests
        pytest --cov=../package/bin --cov-report=term

  build:
    runs-on: ubuntu-latest
    needs: test
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.9'
    
    - name: Install UCC
      run: pip install splunk-add-on-ucc-framework
    
    - name: Build add-on
      run: ucc-gen build --source alert_apprise/package --ta-version 0.0.1
